/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/login/page.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__jXqyR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.page_container__jXqyR .page_form__kHrA4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50vw;
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
}
.page_container__jXqyR .page_form__kHrA4 input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}
.page_container__jXqyR .page_form__kHrA4 input:focus {
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  outline: none;
  border-color: var(--text-color);
}
.page_container__jXqyR .page_form__kHrA4 .page_button__3Q3Yz {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--title-color);
  border-radius: 2rem;
  background-color: var(--accent-color);
  color: var(--title-color);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}
.page_container__jXqyR .page_form__kHrA4 .page_button__3Q3Yz:hover {
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  background-color: var(--title-color);
  color: var(--container-color);
}
.page_container__jXqyR .page_form__kHrA4 .page_error__36_VC {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  color: #721c24;
  background-color: #f8d7da;
}
.page_container__jXqyR .page_link__GEJ3J {
  margin-top: 10px;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}
.page_container__jXqyR .page_link__GEJ3J a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}
.page_container__jXqyR .page_link__GEJ3J a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--text-color);
  transition: width 0.3s;
}
.page_container__jXqyR .page_link__GEJ3J a:hover {
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}
.page_container__jXqyR .page_link__GEJ3J a:hover::after {
  width: 100%;
}
