/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/account/page.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_account__4D9pb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 95lvh;
  margin-top: 5vh;
}
.page_account__4D9pb h1 {
  font-size: 3vw;
  font-family: var(--title-font);
  color: var(--title-color);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1143px) {
  .page_account__4D9pb h1 {
    font-size: 1.6rem;
    text-align: center;
  }
}
.page_account__4D9pb h2 {
  font-size: 2vw;
  font-family: var(--title-font);
  color: var(--title-color);
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}
@media (max-width: 1143px) {
  .page_account__4D9pb h2 {
    font-size: 1.2rem;
    text-align: center;
  }
}
.page_account__upper__tRMRu {
  display: flex;
  width: 100%;
  height: 15%;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 2rem;
}
.page_account__upper__tRMRu button {
  background-color: transparent;
  color: #c92a2a;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  font-size: 2rem;
}
.page_account__lower__wAmdL {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
  gap: 2rem;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--border-color);
}
.page_account__lower_left__CyZhL {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  border-right: 1px solid var(--border-color);
}
.page_account__lower_left__CyZhL img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page_account__lower_left_lower__ioB8y {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.page_account__lower_left_lower__ioB8y ul {
  width: 100%;
}
.page_account__lower_left_lower__ioB8y ul li {
  padding: 0.5rem;
  padding-left: 0;
  border-bottom: 1px solid var(--border-color);
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--title-color);
}
.page_account__lower_right__Q0wBl {
  padding: 2rem;
  display: block;
  gap: 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
}
.page_account__lower_right__Q0wBl h1 {
  font-size: 2rem;
  font-family: var(--title-font);
  color: var(--title-color);
  transition: all 0.3s ease-in-out;
}
.page_account__lower_right__Q0wBl p {
  font-size: 1.5rem;
  color: var(--title-color);
  transition: all 0.3s ease-in-out;
}
.page_account__lower_right__Q0wBl button {
  color: #c92a2a;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  font-size: 1.5rem;
}
.page_account__lower_right_content_top__IQ15u {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.page_account__lower_right_content_bottom__Ntjb_ {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  gap: 1rem;
  width: 100%;
  height: 100px;
  padding: 0.5rem;
}
.page_account__lower_right_content_bottom_content__8o_3f {
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 2rem;
}
.page_account__lower_right_content_bottom_content__8o_3f h3 {
  font-size: 1.5rem;
  font-family: var(--title-font);
  color: var(--title-color);
  transition: all 0.3s ease-in-out;
}
.page_account__lower_right_content_bottom_content__8o_3f p {
  font-size: 1.2rem;
  font-family: var(--subtitle-font);
  color: var(--subtitle-color);
  transition: all 0.3s ease-in-out;
}

.page_please__TVd37 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  height: 100%;
  margin-top: 5vh;
  font-size: 5vw;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/accountComponents/changePassword/style.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_changePassword__wAf_O {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: relative;
}
.style_changePassword__wAf_O input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  background-color: var(--background-color);
  color: var(--title-color);
}
.style_changePassword__wAf_O label {
  font-size: 1.25rem;
  color: var(--title-color);
}
.style_changePassword__wAf_O button {
  padding-left: 0;
  background-color: var(--accent-color);
  color: var(--background-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  width: 100%;
}
