.landing {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 99%;
    position: relative;
    margin-bottom: 6.5vh;
    gap: 1rem;
    top: 8.5vh;
    right: -0.5rem;
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);


    @media (max-width: 1143px) {
        display: flex;
        flex-direction: column;
        right: 0;
    }

    a {

        background-color: var(--accent-color);
        border: 2.5px solid var(--title-color);
        padding: 0.5rem 1rem;
        font-size: 1.15rem;
        font-family: var(--body-font);
        border-radius: 2rem;
        z-index: 9;
        transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
        
        @media (max-width: 456px) {
            font-size: 1rem;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1vw;
            transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
            color: var(--title-color);
        }

        &:hover {
            transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
            background-color: var(--title-color);

            span {
                transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
                color: var(--container-color);
            }
        }
    }

    &__right {
        position: relative;
        height: 50lvh;
        width: 100%;

        @media (max-width: 1143px) {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            height: 100%;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 2px solid var(--container-color);
            border-radius: 2rem;
            filter: brightness(50%);
            @media (max-width: 1143px) {
                height: 40lvh;
            }
        }

        .hero_text {
            position: absolute;
            top: 50%;
            /* Position 50% from top */
            left: 50%;
            /* Position 50% from left */
            transform: translate(-50%, -50%);
            /* Shift element to be centered */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 1rem;
            z-index: 2;

            h1 {
                font-size: 5vw;
                font-family: var(--title-font);
                color: var(--container-color);
                transition: all 0.3s ease-in-out;

                @media (max-width: 1143px) {
                    font-size: 1.6rem;
                    text-align: center;
                }
            }

            h2 {
                font-size: 1.5vw;
                font-family: var(--body-font);
                color: var(--container-color);
                transition: all 0.3s ease-in-out;

                @media (max-width: 1143px) {
                    font-size: 0.8rem;
                    text-align: center;
                }

            }

            a {
                margin-top: 3vh;

                @media (max-width: 1143px) {
                    margin-top: 1.5vh;
                }
            }
        }
    }




    &__left {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        @media (max-width: 1143px) {
            height: 100%;
        }

        &_content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            height: 100%;
            width: 100%;
            padding: 1rem;

            @media (max-width: 456px) {
                padding: 0.5rem;
            }

            h2 {
                font-family: var(--body-font);
                font-size: var(--biggest-font-size);
                color: var(--title-color);
                font-weight: 400;
                letter-spacing: normal;
                font-display: swap;

                span {
                    color: var(--border-color);
                }
            }

            p {
                font-family: var(--body-font);
                font-size: var(--big-font-size);
                color: var(--subtitle-color);
                letter-spacing: -0.01rem;
                text-transform: lowercase;
                font-display: swap;
                width: 100%;
                text-align: justify;

            }

            &_upper_content {
                display: flex;

                h2 {
                    margin-top: 0;
                    text-transform: none;

                    @media (max-width: 456px) {
                        margin-top: 0.8rem;
                        font-size: 3.8vh;
                    }
                }
            }

            &_bottom {
                display: grid;
                grid-template-columns: 1fr;
                gap: 1rem;
                width: 100%;
                height: fit-content;

                @media (max-width: 1143px) {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                }

                p {
                    @media (max-width: 456px) {
                        width: 100%;
                        font-size: 0.8rem;
                        padding-top: 0.5rem;
                    }
                }

                &_right {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 100%;
                    height: 100%;
                    gap: 2vw;

                    @media (max-width: 1143px) {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        height: 100%;
                    }


                    &_link {
                        @media (max-width: 600px) {
                            display: none;
                        }
                    }
                }

            }
        }
    }
}