.cardContainer{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  .card{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0%;
    height: 500px;
    width: 1000px;
    border-radius: 25px;
    padding:50px;
    transform-origin: top;
    h2{
      text-align: center;
      margin: 0px;
      font-size: 28px;
      font-family: var(--logo-font);

    }
    .body{
      display: flex;
      height: 100%;
      margin-top: 50px;
      gap: 50px;

      .description{
        width: 40%;
        position: relative;
        top: 10%;
        &_upper {
          display: grid;
          grid-template-columns: 0.4fr 2fr;
          img {
            border-radius: 50%;
          }
          h3 {
            font-family: var(--title-font);
            font-size: 24px;
            color: var(--text-color);
            font-weight: 400;
            letter-spacing: normal;
            text-transform: capitalize;
            font-display: swap;
          }
          span {
            font-family: var(--body-font);
            font-size: 16px;
            color: var(--text-color);
            letter-spacing: normal;
            text-transform: lowercase;
            font-display: swap;

          }

        }
        p{
          font-size: 1.2rem;
          font-family: var(--body-font);
          color: var(--text-color);
          letter-spacing: normal;
          line-height: 1.5;
          margin-top: 1rem;

        }
        span{
          display: flex;
          align-items: center;
          gap: 5px;
          a{

            font-size: var(--body-font-size);
            color: #000;
            letter-spacing: normal;
            margin-top: 0.5rem;
            cursor: pointer;
          }
        }
      }

      .imageContainer{
        position: relative;
        width: 60%;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;
        .inner{
          width: 100%;
          height: 100%;
        }
        img{
          object-fit: cover;
        }
      }
    }
  }
}