.events {
    position: relative;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    height: 100%;
    width: 98%;
    gap: 1rem;
    border-radius: 2rem;
    right: -1em;
    background-color: var(--title-color);
    border-radius: 2rem;
    padding: 1rem;

    @media (max-width: 1277px) {
        grid-template-columns: 1fr;
        margin-top: 5vh;
    }

    &_left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: fit-content;
        transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
        overflow: hidden;
        background-color: var(--container-color);
        padding: 2rem;
        border-radius: 2rem;
        position: sticky;
        top: 10vh;
        gap: 2vh;

        @media (max-width: 1277px) {
            position: relative;
            height: fit-content;
            top: 0;
            padding: 0.5rem;
        }

        h2 {
            font-family: var(--body-font);
            font-size: var(--big-font-size);
            color: var(--header-color);
            font-weight: 400;
            letter-spacing: normal;
            text-transform: lowercase;
            font-display: swap;

            span {
                color: var(--border-color);
            }

            @media (max-width: 777px) {
                font-size: 4.3vh;
            }
        }


        p {
            font-family: var(--body-font);
            font-size: var(--medium-font-size);
            color: var(--text-color);
            letter-spacing: -0.01rem;
            text-transform: lowercase;
            font-display: swap;
            width: 100%;
            text-align: justify;

            @media (max-width: 456px) {
                width: 95%;
                font-size: 1.2rem;
            }
        }
    }
}