.story {
    display: grid;
    grid-template-columns: 1fr;
    width: 99%;
    height: 100%;
    gap: 1.5vh;
    position: relative;
    z-index: 9;
    right: -0.5rem;

    @media (max-width: 1143px) {
        grid-template-columns: 1fr;
        margin-top: 1rem;
        gap: 1rem;
        right: -0.1rem;

    }

    &__content {

        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2vh;

        @media (max-width: 1143px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        &__left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: fit-content;
            transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
            overflow: hidden;
            background-color: var(--title-color);
            border-radius: 2rem;
            padding: 1rem;
            border: 1px solid var(--title-color);


            @media (max-width: 777px) {
                padding: 0.5rem;
            }

            h2 {
                font-family: var(--body-font);
                font-size: var(--big-font-size);
                color: var(--container-color);
                font-weight: 400;
                letter-spacing: normal;
                text-transform: lowercase;
                font-display: swap;

                span {
                    color: var(--accent-color);
                }

                @media (max-width: 777px) {
                    font-size: 2.3vh;
                }
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 1rem;
            width: 100%;
            height: auto;
            transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);


            padding: 1rem;


            a {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                color: var(--title-color);
                font-family: var(--body-font);
                font-size: var(--medium-font-size);
                text-decoration: none;
                border-bottom: 1px solid var(--accent-color);
            }

            p {
                span {
                    font-family: var(--body-font);
                    color: var(--container-color);

                    span {
                        color: var(--title-color);
                        font-size: 1.8rem;
                        line-height: 1;
                        font-weight: 400;
                        letter-spacing: normal;
                        text-transform: lowercase;
                        font-display: swap;
                    }

                    @media (max-width: 777px) {
                        font-size: 3.3vh;
                    }
                }
            }

            @media (max-width: 1143px) {
                padding: 2rem;
            }



        }
    }
}