.what {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 99%;
    margin: auto;
    height: 100%;
    overflow: hidden;
    position: relative;
    right: -0.2rem;
    border-radius: 2rem;
    gap: 3vh;

    h2 {
        font-family: var(--body-font);
        font-size: var(--big-font-size);
        color: var(--container-color);
        font-weight: 400;
        letter-spacing: normal;
        text-transform: lowercase;
        font-display: swap;

        span {
            color: var(--accent-color);
        }

        @media (max-width: 777px) {
            font-size: 4.3vh;
        }
    }

    &_upper {
        background-color: var(--title-color);
        border-radius: 2rem;
        padding: 1rem;
        
    }

    &_lower {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1vw;
        width: 100%;
        height: 100%;

        @media (max-width: 1177px) {
            grid-template-columns: 1fr;
            gap: 2vh;
        }

        &_card {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1rem;
            width: 100%;
            height: 100%;
            padding: 1rem;
            background-color: var(--container-color);
            border-radius: 2rem;
            border: 1px solid var(--title-color);

            h3 {
                font-family: var(--title-font);
                font-size: var(--big-font-size);
                color: var(--title-color);
                font-weight: 400;
                letter-spacing: normal;
                text-transform: capitalize;
                font-display: swap;
            }
            p {
                font-family: var(--body-font);
                font-size: var(--normal-font-size);
                color: var(--text-color);
                letter-spacing: normal;
                text-transform: lowercase;
                font-display: swap;
            }
            img {
                width: 100%;
                height: 20vh;
                border-radius: 1.5rem;
                object-fit: cover;
            }
        }
    }   
}