.logo_marquee {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
        width: 15vw;
        height: 15vh;
        object-fit: contain;
        filter: contrast(1);
        @media (max-width: 777px) {
            padding-right: 1rem;
            width: 13vw;
            height: 10vh;
        }

    }
}