:root {
  /* Dark Batik Pink */
  --container-color: #D66A8A;
  /* Batik Pink */
  --subtitle-color: #9c657e;
	--text-color: #47393f;
  --hue: 0;
	--sat: 0%;
  /* Light Batik Pink */
  --hover-color: #aa5380;
  --accent-color: #ff4b26;
  /* light baby pink */
  --background-color: #efe2e4; 
  --color-number: #999;
  --border-color: #df9abd;

  /* Fonts */

  --body-font: 'CabinetGrotesk-Regular', sans-serif;
  --subtitle-font: 'CabinetGrotesk-Light', sans-serif;
  --title-font: 'CabinetGrotesk-Medium', sans-serif;
  --heading-font: 'CabinetGrotesk-Bold', sans-serif;
  --logo-font: 'CabinetGrotesk-ExtraBold', sans-serif;

  /* Font Sizes Based on Golden Ratio */

  --normal-font-size: 1rem;
  --big-font-size: 1.618rem;
  --bigger-font-size: 2.618rem;
  --biggest-font-size: 4.236rem;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  background-color: var(--background-color);
}

body {
  max-width: 100vw;
  background-color: var(--background-color);
  overscroll-behavior-x: none;
  touch-action: pan-y;
  overflow-x: hidden;

}

.no-scroll {
  overflow: hidden;
}


body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

img {
  pointer-events: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;

}

img {
  max-width: 100%;
  height: auto;
}


::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
  margin-block: 0.35rem;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb-color);
  border-radius: 10px;

}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

::selection {
  background-color: var(--accent-color-second);
  color: var(--nav-overlay-color);
}


::-webkit-scrollbar {
  display: none;
}




.hiddenn {
  display: none;
}


@font-face {
  font-family: 'CabinetGrotesk-Variable';
  src: url('../../public/fonts/CabinetGrotesk-Variable.woff2') format('woff2'),
    url('../../public/fonts/CabinetGrotesk-Variable.woff') format('woff'),
    url('../../public/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'CabinetGrotesk-Thin';
  src: url('../../public/fonts/CabinetGrotesk-Thin.woff2') format('woff2'),
    url('../../public/fonts/CabinetGrotesk-Thin.woff') format('woff'),
    url('../../public/fonts/CabinetGrotesk-Thin.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'CabinetGrotesk-Extralight';
  src: url('../../public/fonts/CabinetGrotesk-Extralight.woff2') format('woff2'),
    url('../../public/fonts/CabinetGrotesk-Extralight.woff') format('woff'),
    url('../../public/fonts/CabinetGrotesk-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'CabinetGrotesk-Light';
  src: url('../../public/fonts/CabinetGrotesk-Light.woff2') format('woff2'),
    url('../../public/fonts/CabinetGrotesk-Light.woff') format('woff'),
    url('../../public/fonts/CabinetGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'CabinetGrotesk-Regular';
  src: url('../../public/fonts/CabinetGrotesk-Regular.woff2') format('woff2'),
    url('../../public/fonts/CabinetGrotesk-Regular.woff') format('woff'),
    url('../../public/fonts/CabinetGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'CabinetGrotesk-Medium';
  src: url('../../public/fonts/CabinetGrotesk-Medium.woff2') format('woff2'),
    url('../../public/fonts/CabinetGrotesk-Medium.woff') format('woff'),
    url('../../public/fonts/CabinetGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'CabinetGrotesk-Bold';
  src: url('../../public/fonts/CabinetGrotesk-Bold.woff2') format('woff2'),
    url('../../public/fonts/CabinetGrotesk-Bold.woff') format('woff'),
    url('../../public/fonts/CabinetGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'CabinetGrotesk-Extrabold';
  src: url('../../public/fonts/CabinetGrotesk-Extrabold.woff2') format('woff2'),
    url('../../public/fonts/CabinetGrotesk-Extrabold.woff') format('woff'),
    url('../../public/fonts/CabinetGrotesk-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'CabinetGrotesk-Black';
  src: url('../../public/fonts/CabinetGrotesk-Black.woff2') format('woff2'),
    url('../../public/fonts/CabinetGrotesk-Black.woff') format('woff'),
    url('../../public/fonts/CabinetGrotesk-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}