/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/register/page.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_register__xsXZH {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  background-color: var(--background-color);
  width: 100%;
  padding: 2rem;
  flex-direction: column;
  margin-top: 5vh;
}
.page_register__form__s9AZG {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 50vw;
  padding: 2rem;
  border: 1px solid #000;
  border-radius: 1rem;
}
.page_register__form__group__SDl8Y {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.page_register__form__s9AZG input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
  border-radius: 5px;
}
.page_register__form__s9AZG input:focus {
  outline: none;
  border-color: #000;
}
.page_register__form__s9AZG .page_register__btn__VR29_ {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid var(--title-color);
  border-radius: 2rem;
  color: var(--title-color);
  background-color: var(--accent-color);
  font-size: 1.2rem;
}
.page_register__error__ncjEH {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
  border-radius: 5px;
  color: #721c24;
  background-color: #f8d7da;
}
