.nav {
    position: fixed;
    top: 0.4rem;
    left: 0.4rem;
    width: 99.3%;
    height: fit-content;
    z-index: 1000;
    border: 2px solid var(--title-color);
    background-color: var(--container-color);
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    border-radius: 1.9rem;
    user-select: none;

    @media (max-width: 1350px) {
        width: 99%;
        margin-inline: auto;
        left: 0;

    }

    .nav__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0.2rem 0.2rem;
        position: relative;
        width: 100%;
        z-index: 9;

        @media (max-width: 1356px) {
            height: fit-content;
        }

        .nav__left {
            display: flex;
            align-items: center;
            border-radius: 1.9rem;
            height: 100%;
            padding-right: 1rem;
            width: 100%;
            justify-content: flex-start;

            @media (max-width: 1356px) {                   
                height: fit-content;
                padding: 0;
            }

            .nav__logo {

                @media (max-width: 1356px) {                    
                    width: 70%;
                    padding: 0;
                }

                h1 {
                    font-family: var(--logo-font);
                    font-size: 1.5rem;
                    color: var(--container-color);
                    letter-spacing: 0.05rem;
                    text-transform: capitalize;
                    background-color: var(--title-color);
                    border-radius: 1.9rem;
                    padding: 0.5rem 1rem;
                    border: 2px solid var(--title-color);
                    margin-right: 0.4rem;
                }
            }
        }

        .nav__middle {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            position: relative;
            z-index: 999999;
            width: 100%;

            @media (max-width: 756px) {
                display: none;
            }

            ul {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 0.2rem;
                position: relative;
                left: 0rem;
                width: 100%;

                li {
                    list-style: none;
                    font-family: var(--title-font);
                    font-size: 1.5rem;
                    cursor: pointer;
                    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
                    text-transform: capitalize;
                    background-color: transparent;
                    border: 2px solid var(--title-color);
                    color: var(--title-color);
                    border-radius: 1.9rem;
                    padding: 0.5rem 1rem;
                    height: 100%;
                    width: 100%;

                    &:hover {
                        background-color: var(--title-color);
                        color: var(--container-color);
                        border: 2px solid var(--title-color);
                    }
                }

            }
        }

        .nav__right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 0.2rem;
            position: relative;
            width: 100%;

            .extendedMenu {
                @media (max-width: 456px) {
                    display: none;
                }

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.2rem;
                position: relative;
                right: 0rem;

                li {
                    list-style: none;
                    font-family: var(--title-font);
                    font-size: 1.5rem;
                    cursor: pointer;
                    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
                    text-transform: uppercase;
                    background-color: transparent;
                    border: 2px solid var(--title-color);
                    color: var(--title-color);
                    border-radius: 1.9rem;
                    padding: 0.5rem 1rem;
                    height: 100%;
                    width: 100%;

                    &:hover {
                        background-color: var(--title-color);
                        color: var(--container-color);
                        border: 2px solid var(--title-color);
                    }
                }
            }

            h2 {
                list-style: none;
                font-family: var(--title-font);
                font-size: 1.5rem;
                color: var(--title-color);
                cursor: pointer;
                transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
                text-transform: capitalize;
                background-color: var(--accent-color);
                border: 2px solid var(--title-color);
                border-radius: 1.9rem;
                padding: 0.5rem 1rem;
                height: fit-content;


                @media (max-width: 1356px) {                    
                    padding: 0.3rem 1rem;
                }

                &:hover {
                    color: var(--container-color);
                    border: 2px solid var(--title-color);
                }
            }
        }
    }
}