.header {
    .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.5vh;
    z-index: 100;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color);
    @media (max-width: 1156px) {
        border-top: 2px solid var(--border-color);
        border-bottom: 2px solid var(--border-color);

    }

    &_container {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: flex-start;
            list-style: none;
            width: 100%;

            li {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 100%;
                border-left: 1px solid var(--border-color);

                &:first-child {
                    border-left: none;
                }

                &:nth-child(3) {
                    border-right: 1px solid var(--border-color);
                }

                &:nth-child(4) {
                    border-left: 1px solid var(--border-color);
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 12vw;
                    height: 6.5vh;
                    color: var(--container-color);
                    padding: 0 1rem;
                    font-family: var(--title-font);
                    font-size: 1.5rem;
                    text-decoration: none;
                    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                }

                &:hover {
                    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                    background-color: var(--container-color);

                    a {
                        color: var(--background-color);
                    }
                }
            }
        }

        &_right {

            @media (max-width: 1156px) {
                display: none;
            }

            ul {
                li {
                    &:first-child {
                        border-left: 1px solid var(--border-color);
                        padding-right: 0.5rem;
                    }

                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }

        &_left {
            @media (max-width: 1156px) {
                display: none;
            }
        }

        button {
            background-color: transparent;
            font-family: var(--body-font);
            font-size: var(--normal-font-size);
            color: var(--container-color);
            text-transform: uppercase;
            @media (min-width: 1156px) {
                display: none;
            }
        }

        h2 {
            font-size: 3.7rem;
            font-family: var(--title-font);
            color: var(--container-color);
            transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
            @media (max-width: 1156px) {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2.5rem;
                border-right: 1px solid var(--border-color);
                height: 6.5vh;
                padding-right: 1rem;
                padding-left: 1rem;
                text-align: center;
                position: relative;
                background-color: var(--container-color);
                color: var(--background-color);
            }
            &:hover {
                transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                color: var(--hover-color);
            }
        }
    }
}

.menu {
    @media (min-width: 768px) {
        display: none;
    }

    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 6.5vh;
    border-left: 2px solid var(--border-color);

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6.5vh;
        width: 15vw;
        transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
        cursor: pointer;
        font-display: swap;
        user-select: none;
        font-family: var(--body-font);
        font-size: var(--big-font-size);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-transform: capitalize;
        color: var(--text-color);
    }
}
}