/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
:root {
  /* Dark Batik Pink */
  --container-color: #F9F5EC;
  /* Batik Pink */
  --subtitle-color: #404040;
  --title-color: #1b1b1b;
	--text-color: #47393f;
  --hue: 0;
	--sat: 0%;
  /* Light Batik Pink */
  --hover-color: #aa5380;
  --accent-color: #ff7da6;
  /* light baby pink */
  --background-color: #F9F5EC; 
  --color-number: #999;
  --border-color: #c1c1c1;

  /* Responsive Sizes  */

  --mobile: max-width: 767px;
  --tablet: max-width: 1168px;
  --desktop: 1424px;
  --big-desktop: 1940px;

  /* Fonts */

  --body-font: 'Poppins-Regular', sans-serif;
  --subtitle-font: 'Poppins-Light', sans-serif;
  --title-font: 'Poppins-Medium', sans-serif;
  --heading-font: 'Poppins-Bold', sans-serif;
  --logo-font: 'Poppins-ExtraBold', sans-serif;
  --nav-font: 'Poppins-Black', sans-serif;

  /* Font Sizes Based on Golden Ratio */

  --small-font-size: 0.618rem;
  --normal-font-size: 1rem;
  --body-font-size: 1.236rem;
  --medium-font-size: 1.318rem;
  --big-font-size: 1.618rem;
  --bigger-font-size: 2.618rem;
  --biggest-font-size: 4.236rem;
  --navigaion-font-size: 5.9vh;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  background-color: var(--background-color);
}

body {
  max-width: 100vw;
  background-color: var(--background-color);
  overscroll-behavior-x: none;
  touch-action: pan-y;
  overflow-x: hidden;

}

.no-scroll {
  overflow: hidden;
}


body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;

}

img {
  max-width: 100%;
  pointer-events: none;
  height: auto;
}


::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
  margin-block: 0.35rem;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb-color);
  border-radius: 10px;

}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

::selection {
  background-color: var(--title-color);
  color: var(--container-color);
}


::-webkit-scrollbar {
  display: none;
}

.hiddenn {
  display: none;
}



@font-face {
  font-family: 'Poppins-Light';
  src: url(/_next/static/media/Poppins-Light.8b20023e.ttf) format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url(/_next/static/media/Poppins-Regular.4b4ebe20.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Poppins-Medium';
  src:  url(/_next/static/media/Poppins-Medium.a52d0bf0.ttf) format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Poppins-Bold';
  src: url(/_next/static/media/Poppins-Bold.8001a01b.ttf) format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/footer/style.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_footer__4Fx8H {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  position: relative;
  height: 100%;
  width: 99%;
  position: relative;
  right: -0.3rem;
  top: -1rem;
  z-index: 9;
  margin-top: 4vh;
  border-top: 1px solid var(--border-color);
}
.style_footer__upper__UQTpX {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  grid-gap: 1rem;
  gap: 1rem;
  place-content: start;
  place-items: start;
}
@media (max-width: 1265px) {
  .style_footer__upper__UQTpX {
    grid-template-columns: repeat(1, 1fr);
  }
}
.style_footer__upper__UQTpX h2 {
  font-family: var(--title-font);
  font-size: var(--bigger-font-size);
  color: var(--title-color);
  font-weight: 400;
  letter-spacing: normal;
  text-transform: capitalize;
  font-display: swap;
}
@media (max-width: 777px) {
  .style_footer__upper__UQTpX h2 {
    font-size: 4.3vh;
  }
}
.style_footer__upper__UQTpX ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
}
.style_footer__upper__UQTpX ul li a {
  font-family: var(--body-font);
  font-size: var(--big-font-size);
  font-weight: 300;
  width: 100%;
  color: var(--subtitle-color);
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  line-height: 1.5;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-display: swap;
}
.style_footer__upper__UQTpX ul li a:hover {
  color: var(--header-color);
}
.style_footer__upper__right__7kZUt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 1rem;
}
.style_footer__upper__right_container__w5CGd {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  height: 100%;
  grid-gap: 1rem;
  gap: 1rem;
  place-content: start;
  place-items: start;
}
@media (max-width: 1265px) {
  .style_footer__upper__right_container__w5CGd {
    grid-template-columns: repeat(1, 1fr);
  }
}
.style_footer__footer__SPvDd {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  grid-gap: 1rem;
  gap: 1rem;
}
@media (max-width: 1265px) {
  .style_footer__footer__SPvDd {
    grid-template-columns: repeat(1, 1fr);
    height: -moz-fit-content;
    height: fit-content;
  }
}
.style_footer__footer_logoz__E_S4D {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  gap: 1rem;
}
@media (max-width: 1265px) {
  .style_footer__footer_logoz__E_S4D {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.style_footer__footer_logoz__E_S4D h2 {
  font-family: var(--logo-font);
  font-size: 7vw;
  color: var(--title-color);
  font-weight: 400;
  letter-spacing: normal;
  text-transform: capitalize;
  font-display: swap;
}
@media (max-width: 1077px) {
  .style_footer__footer_logoz__E_S4D h2 {
    font-size: 7.3vh;
    margin-top: 2rem;
  }
}
.style_footer__footer_lower__0PQ_5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
@media (max-width: 1265px) {
  .style_footer__footer_lower__0PQ_5 {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.style_footer__footer_lower__0PQ_5 ul {
  gap: 1rem;
  display: flex;
}
@media (max-width: 1265px) {
  .style_footer__footer_lower__0PQ_5 ul {
    display: none;
  }
}
.style_footer__footer_lower__0PQ_5 ul li a {
  font-family: var(--body-font);
  font-size: var(--big-font-size);
  font-weight: 400;
  color: var(--subtitle-color);
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  line-height: 1.5;
  font-display: swap;
}
.style_footer__footer_lower__0PQ_5 ul li a:hover {
  color: var(--header-color);
}
.style_footer__footer_lower__0PQ_5 span {
  font-family: var(--title-font);
  font-size: var(--big-font-size);
  font-weight: 400;
  color: var(--title-color);
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  line-height: 1.5;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-display: swap;
}
.style_footer__footer_lower__0PQ_5 span:hover {
  color: var(--header-color);
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/navbar/nav/Body/style.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_body__A0_vQ {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-top: 40px;
  padding: 2rem;
}
.style_body__A0_vQ a {
  color: var(--title-color);
  text-decoration: none;
}
.style_body__A0_vQ p {
  margin: 0px;
  display: flex;
  overflow: hidden;
  font-family: var(--body-font);
  font-size: 2rem;
}

@media only screen and (min-width: 600px) {
  .style_body__A0_vQ {
    max-width: 1200px;
    margin-top: 80px;
  }
  .style_body__A0_vQ p {
    font-size: 5vw;
    padding-right: 2vw;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/navbar/nav/Footer/style.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_footer__D5CRU {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 12px;
  margin-top: 40px;
  padding: 1rem;
  padding-left: 2rem;
}
.style_footer__D5CRU ul {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 0.9rem;
  font-family: var(--body-font);
}
.style_footer__D5CRU li {
  overflow: hidden;
  color: var(--title-color);
}
@media (max-width: 456px) {
  .style_footer__D5CRU li {
    text-align: left;
    padding-top: 0.4rem;
  }
}
.style_footer__D5CRU li span {
  color: var(--title-color);
  font-family: var(--body-font);
  overflow: hidden;
}
.style_footer__D5CRU li a {
  color: var(--title-color);
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  overflow: hidden;
}
.style_footer__D5CRU li a:hover {
  color: var(--accent-color);
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/navbar/nav/style.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_nav__x5A0v {
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: var(--container-color);
  top: 0rem;
  left: 0;
}
.style_nav__x5A0v .style_hamburger__V1uAm {
  display: flex;
  justify-content: flex-end;
  color: var(--title-color);
  font-size: 3rem;
  z-index: 9999;
  position: absolute;
  right: 3rem;
  top: 2rem;
  font-family: var(--body-font);
  cursor: pointer;
}
@media (max-width: 468px) {
  .style_nav__x5A0v .style_hamburger__V1uAm {
    right: 2rem;
  }
}
.style_nav__x5A0v .style_wrapper__N48Gh {
  display: flex;
  gap: 50px;
  margin-bottom: 80px;
}
.style_nav__x5A0v .style_container__xU1Ia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/animation/animatedHeaders/style.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_getChars__OmDEP {
  display: flex;
  overflow: hidden;
}
.style_getChars__OmDEP h2 {
  margin-top: 1.5rem;
  font-size: clamp(4.5vh, 5vw, 6vw);
  font-family: "Outfit-Bold";
  color: var(--container-color);
  letter-spacing: -0.1rem;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}
@media (max-width: 456px) {
  .style_getChars__OmDEP h2 {
    line-height: 0.88;
    font-size: 3.5vh;
  }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/navbar/calendly/style.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_modalBackground__JiUJc {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 110vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.style_modalBackground__JiUJc .style_modalConatiner__zQARB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.style_modalBackground__JiUJc button {
  position: absolute;
  top: 0;
  right: 2rem;
  background-color: var(--background-color);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.style_modalBackground__JiUJc button span {
  font-family: var(--body-font);
  color: var(--background-color);
  font-size: 5rem;
}
.style_modalBackground__JiUJc button:hover {
  color: var(--container-color);
}
.style_modalBackground__JiUJc iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: 85%;
  height: 70%;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/navbar/style.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_navbar__7NMKj {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 6.5vh;
  width: 100%;
  padding: 0rem 0rem;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  background-color: var(--background-color);
  z-index: 9999;
  border-bottom: 1px solid var(--border-color);
}
.style_navbar__7NMKj .style_navbar__logo__PZ5QX {
  display: flex;
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  overflow: hidden;
  width: 100%;
  padding-left: 2rem;
  position: relative;
  top: 0;
}
@media (max-width: 1268px) {
  .style_navbar__7NMKj .style_navbar__logo__PZ5QX {
    padding-left: 0.5rem;
  }
}
.style_navbar__7NMKj .style_navbar__logo_anim__Ew4vP {
  display: flex;
  width: 100%;
}
.style_navbar__7NMKj .style_navbar__logo_anim__Ew4vP h2 {
  font-family: var(--logo-font);
  font-size: 5vh;
  color: var(--title-color);
  font-display: swap;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-top: 0;
}
.style_navbar__links__Cb3xE {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  position: relative;
  z-index: 99;
  gap: 1vw;
}
@media (max-width: 768px) {
  .style_navbar__links__Cb3xE {
    display: none;
  }
}
.style_navbar__links__Cb3xE ul {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  list-style: none;
  width: 100%;
  gap: 1rem;
  padding-right: 1rem;
}
.style_navbar__links__Cb3xE ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.5vh;
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  cursor: pointer;
  font-display: swap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: var(--body-font);
  font-weight: 500;
  font-size: var(--medium-font-size);
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}
.style_navbar__links__Cb3xE ul li a {
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  color: var(--header-color);
}
.style_navbar__links__Cb3xE ul li a:hover {
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  color: var(--accent-color);
}
.style_navbar__7NMKj .style_menu__aEjKJ {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .style_navbar__7NMKj .style_menu__aEjKJ {
    display: none;
  }
}
.style_navbar__7NMKj .style_menu__aEjKJ span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.5vh;
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  cursor: pointer;
  font-display: swap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: var(--body-font);
  font-size: var(--big-font-size);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-transform: capitalize;
  color: var(--text-color);
}
