/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/landing/style.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_landing__XiuUH {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 6.5vh;
}
.style_landing__XiuUH .style_hero_img__7V5AA {
  position: relative;
  height: 70lvh;
  width: 100%;
  top: 6.5vh;
}
@media (max-width: 1143px) {
  .style_landing__XiuUH .style_hero_img__7V5AA {
    top: 6.5vh;
  }
}
.style_landing__XiuUH .style_hero_img__7V5AA video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}
.style_landing__XiuUH .style_hero_text__nz7U_ {
  position: absolute;
  top: 50%;
  /* Position 50% from top */
  left: 50%;
  /* Position 50% from left */
  transform: translate(-50%, -50%);
  /* Shift element to be centered */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
  z-index: 2;
}
.style_landing__XiuUH .style_hero_text__nz7U_ h1 {
  font-size: 5vw;
  font-family: var(--title-font);
  color: var(--background-color);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1143px) {
  .style_landing__XiuUH .style_hero_text__nz7U_ h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}
.style_landing__XiuUH .style_hero_text__nz7U_ h2 {
  font-size: 1.5vw;
  font-family: var(--body-font);
  color: var(--background-color);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1143px) {
  .style_landing__XiuUH .style_hero_text__nz7U_ h2 {
    font-size: 1.2rem;
    text-align: center;
  }
}
.style_landing__XiuUH .style_hero_text__nz7U_ button {
  background-color: transparent;
  border: 1px solid var(--background-color);
  padding: 1rem;
  margin-top: 1vh;
  font-size: 1rem;
  font-family: var(--body-font);
  position: relative;
  z-index: 9;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}
.style_landing__XiuUH .style_hero_text__nz7U_ button a {
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
  color: var(--background-color);
}
.style_landing__XiuUH .style_hero_text__nz7U_ button:hover {
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
  background-color: var(--background-color);
}
.style_landing__XiuUH .style_hero_text__nz7U_ button:hover a {
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
  color: var(--container-color);
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/animation/animatedSubs/style.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_description__P6Vry {
  display: flex;
  justify-content: center;
  width: 100%;
}
.style_description__P6Vry p {
  margin: 0px;
}
.style_description__P6Vry p:nth-of-type(1) {
  font-family: var(--body-font);
  font-size: var(--bigger-font-size);
  color: var(--text-color);
  gap: 8px;
  line-height: 1.3;
}
@media (max-width: 456px) {
  .style_description__P6Vry p:nth-of-type(1) {
    font-size: var(--medium-font-size);
    width: 100%;
  }
}
.style_description__P6Vry p:nth-of-type(1) span {
  margin-right: 3px;
}
.style_description__P6Vry p:nth-of-type(1) .style_mask__mahU2 {
  position: relative;
  overflow: hidden;
  display: inline-flex;
}
@media (max-width: 456px) {
  .style_description__P6Vry p:nth-of-type(1) .style_mask__mahU2 {
    text-align: justify;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/brief/style.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_story__6XLT8 {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 95%;
  margin: auto;
  height: 100%;
  margin-top: 10rem;
  margin-bottom: 5rem;
  overflow: hidden;
  grid-gap: 3vh;
  gap: 3vh;
}
@media (max-width: 1277px) {
  .style_story__6XLT8 {
    margin-top: 1rem;
    gap: 1rem;
  }
}
.style_story__left__HboOZ {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
  overflow: hidden;
  background-color: var(--background-color);
}
@media (max-width: 777px) {
  .style_story__left__HboOZ {
    padding: 0.5rem;
  }
}
.style_story__left__HboOZ h2 {
  font-family: var(--body-font);
  font-size: var(--big-font-size);
  color: var(--header-color);
  font-weight: 400;
  letter-spacing: normal;
  text-transform: lowercase;
  font-display: swap;
}
.style_story__left__HboOZ h2 span {
  color: var(--container-color);
}
@media (max-width: 777px) {
  .style_story__left__HboOZ h2 {
    font-size: 4.3vh;
  }
}
.style_story__right__46AMO {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  height: 100%;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
  background-color: var(--background-color);
}
.style_story__right__46AMO a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--container-color);
  font-family: var(--body-font);
  font-size: var(--medium-font-size);
  text-decoration: none;
  border-bottom: 1px solid var(--border-color);
}
@media (max-width: 777px) {
  .style_story__right__46AMO {
    padding: 0.5rem;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/animation/marquee/Marquee.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.marquee {
    width: 100%;
    padding: 0rem 1.25rem;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    text-align: center;
    overflow: hidden;
    height: 100%;
    background-color: var(--container-color);
    position: relative;
    transform: rotate(-0.5deg);
    top: -3vh;
}

.marquee h3 {
    font-size: 5.875rem;
    font-weight: 700;
    text-transform: uppercase;
}

.marquee .marquee-wrapper {
    width: 6250rem;
    animation: marqueeAnimation 68s linear 0s infinite running;
}

.marquee h3 .marquee-title {
    margin-right: 1.25rem;
    float: left;
}

.text-stroke-black {
    color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: var(--background-color);
}

@keyframes marqueeAnimation {
    100% {
        transform: translateX(-4600px);
    }
}

@media (max-width: 1292px) {
    .marquee {
        transform: rotate(0deg);

    }
}
@media (max-width: 992px) {
    .marquee h3 {
        font-size: 60px;
    }
}

@media (max-width: 549px) {
    .marquee h3 {
        font-size: 50px;
    }
}


/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/animation/opening/Opening.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.opening {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--container-color);
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    display: flex;
    top: 0;

}

.bar {
    width: 20vw;
    height: 115vh;
    background-color: var(--container-color);
}

.counter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    display: flex;
    right: 0;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    padding: 0.2em 0.4em;
    font-size: 20vw;
    font-family: var(--logo-font);
}

.opening h2 {
    position: fixed;
    z-index: 9999999999;
    top: 50%;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    font-size: 24vw;
    text-transform: uppercase;
    opacity: 0;
    letter-spacing: 0.2rem;
    line-height: 0;
    width: 100%;
    font-family: var(--logo-font);
}

.opening h1 {
    color: var(--background-color);
}

.counter span {
    padding-right: 1rem;
}

@media (max-width: 476px) {
    .counter {
        font-size: 15vw;
    }

    .logoname {
        font-size: 6vw;
        top: 40%;
        left: 0%;
        letter-spacing: 0.1rem;
    }

    .cairostudio {
        letter-spacing: 0.2rem;
    }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/what/style.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_what__sRA_s {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 95%;
  margin: auto;
  height: 100%;
  margin-top: 10rem;
  margin-bottom: 5rem;
  overflow: hidden;
  grid-gap: 3vh;
  gap: 3vh;
}
.style_what__sRA_s h2 {
  font-family: var(--body-font);
  font-size: var(--big-font-size);
  color: var(--header-color);
  font-weight: 400;
  letter-spacing: normal;
  text-transform: lowercase;
  font-display: swap;
}
.style_what__sRA_s h2 span {
  color: var(--container-color);
}
@media (max-width: 777px) {
  .style_what__sRA_s h2 {
    font-size: 4.3vh;
  }
}
.style_what_lower__9O5t4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  height: 100%;
  margin-top: 20vh;
}
@media (max-width: 1177px) {
  .style_what_lower__9O5t4 {
    grid-template-columns: 1fr;
    margin-top: 10vh;
  }
}
.style_what_lower_card__jnvq6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.style_what_lower_card__jnvq6 h3 {
  font-family: var(--title-font);
  font-size: var(--bigger-font-size);
  color: var(--container-color);
  font-weight: 400;
  letter-spacing: normal;
  text-transform: capitalize;
  font-display: swap;
}
.style_what_lower_card__jnvq6 p {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  letter-spacing: normal;
  text-transform: lowercase;
  font-display: swap;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/logoMarquee/style.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_logo_marquee__rk0yX {
  mix-blend-mode: multiply;
}
.style_logo_marquee__rk0yX img {
  width: 15vw;
  height: 20vh;
  object-fit: contain;
  filter: contrast(1);
}
