.opening {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--container-color);
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    display: flex;
    top: 0;

}

.bar {
    width: 20vw;
    height: 115vh;
    background-color: var(--container-color);
}

.counter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    display: flex;
    right: 0;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    padding: 0.2em 0.4em;
    font-size: 20vw;
    font-family: var(--logo-font);
}

.opening h2 {
    position: fixed;
    z-index: 9999999999;
    top: 50%;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    font-size: 24vw;
    text-transform: uppercase;
    opacity: 0;
    letter-spacing: 0.2rem;
    line-height: 0;
    width: 100%;
    font-family: var(--logo-font);
}

.opening h1 {
    color: var(--background-color);
}

.counter span {
    padding-right: 1rem;
}

@media (max-width: 476px) {
    .counter {
        font-size: 15vw;
    }

    .logoname {
        font-size: 6vw;
        top: 40%;
        left: 0%;
        letter-spacing: 0.1rem;
    }

    .cairostudio {
        letter-spacing: 0.2rem;
    }
}